<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title></title>
    <style type="text/css">
        html,
        body {
            font-family: "Open Sans", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
            margin: 0px;
        }

        .table {
            border-style: none;
            border-collapse: collapse;
        }

        .td-text {
            padding: 8px 16px 8px 16px;
        }
    </style>
</head>

<body>
    <center>
        <table class="table" style="width: 576px; border: 1px solid #5f5b6b; background-color: #f4f4f8; color: #5f5b6b;" width="576px" border="0" cellspacing="0" cellpadding="0">
            <tr>
                <td>
                    <table class="table" style="background-color: #5f5b6b; width: 100%; padding-top: 8px; padding-bottom: 8px;" border="0" cellspacing="0" cellpadding="0">
                        <tr>
                            <td align="center">
                                <img src="{serverRootUrl}/assets/images/email/logo.dark.png" alt="Vadalo" style="background-color: #5f5b6b;" />
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>

            <tr>
                <td class="td-text">
                    <p>Hi,</p>
                </td>
            </tr>

            <tr>
                <td class="td-text">
                    <p>Email Notification Health Check mail sent from server at: {ServerTime}.</p>
                </td>
            </tr>

            <tr>
                <td class="td-text">
                    <p>
                        Thanks,
                        <br>
                        Vadalo Team
                    </p>
                </td>
            </tr>
        </table>
    </center>
</body>
</html>